site_name: foundation-data-factory
repo_url: https://github.com/duoan/foundation-data-factory
site_url: https://duoan.github.io/foundation-data-factory
site_description: FoundationDataFactory is a streaming-first data execution system for large-scale multimodal foundation model training.
site_author: Victor An
edit_uri: edit/main/docs/
repo_name: duoan/foundation-data-factory
copyright: Maintained by <a href="https://duoan.com">duoan</a>.

nav:
  - Home: index.md
  - Modules: modules.md
plugins:
  - search
  - mkdocstrings:
      handlers:
        python:
          paths: ["fdf"]
theme:
  name: material
  feature:
    tabs: true
  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: white
      accent: deep orange
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: black
      accent: deep orange
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  icon:
    repo: fontawesome/brands/github

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/duoan/foundation-data-factory
    - icon: fontawesome/brands/python
      link: https://pypi.org/project/foundation-data-factory

markdown_extensions:
  - toc:
      permalink: true
  - pymdownx.arithmatex:
      generic: true
